po_token = 
# Po-token value
visitorData = 
# Visit https://github.com/yt-dlp/yt-dlp/wiki/Extractors 
# To get to know how to extract po_token and visitorData
proxy =
# htttps proxy such as 127.0.0.1:7071 or socks5://127.0.0.1:5000
cookiefile =
# Path to Youtube's cookie file formatted in netscape.
filename_prefix =
# text to be appended to every downloadable file
working_directory =
# directory for saving static contents. Defaults to pwd.
clear_temps = 1
# flag for controlling temporary file clearance